// COLORS
$color-grey-light-1 : #f8f8f8;
$color-grey-light-2 : #eee;
$color-grey-light-3 : #edeeed;

$color-primary : #777;
$color-primary-light : #171a1a;
$color-primary-dark : #0b0c0d;

$color-green-light-1 : #75a522;
$color-green-light-2 : #73A421;
$color-green-light-3 : #387f11;

$color-red-light-1 : #E80000;

// DASHBOARD
$color-dd-grey-light-1 : #20232f;
$color-dd-green-light-1 : #75a522;
$color-dd-blue-light-1 : #0b0c22;
$color-dd-blue-light-2 : #1a1b30;
$color-dd-white-light-1 : #FFF;
$dd-font-family: "Open Sans", sans-serif;
$input-height: 56px;
$default-font-size : 12px;

// FONT
$box-top-depth : 5%;
$box-bottom-left-depth : 90%;
$box-bottom-right-depth : 90%;

// SIZES
$size-big : 50px;
$size-medium-1 : 45px;
$size-medium-2 : 40px;
$size-small-1 : 35px;
$size-small-2 : 30px;
$size-tiny-1 : 25px;
$size-tiny-2 : 20px;


// SCREEN SIZES - max
$mobile : 411px; // Galaxy, iphone, pixel 2
$ipad : 768px;
$ipadPro : 1024px;

$col-1 : 610px;
$col-2 : 896px;
$col-3 : 1182px;
$col-4 : 1466px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal : 6rem;
$color-white : #fff;
$color-black : #000;

$color-black-dark : #0b0c0d;
$color-black-light : #171a1a;
