@import "../abstracts/variables";
@import "../abstracts/mixins";

/**
  item.scss
 */

#peak .box {
  background-image: url("../images/kopy/main.png");
  min-height: auto;
  background-size: cover;
  background-position: center center;
}

.items {
  display: block;
  padding: 0;
  margin: 0;
  background-color: gray;

  .item {
    padding: 0px;
    margin: 0;
    width: 33.3%;
    background-color: red;
    display: block;
    float: left;
    overflow: hidden;


    &-1 {
      background-image: url("../images/kopy/item-1.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 320px;
      transition: transform 0.2s;
      opacity: 0.98;
    }

    &-2 {
      background-image: url("../images/kopy/item-2.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      transition: transform 0.2s;
    }

    &-3 {
      background-image: url("../images/kopy/item-3.jpg");
      background-position: center center;
      background-size: cover;
      transition: transform 0.2s;
    }

    &-4 {
      background-image: url("../images/kopy/item-4.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 320px;
      transition: transform 0.2s;
    }

    &-5 {
      background-image: url("../images/kopy/item-5.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 320px;
      transition: transform 0.2s;
    }

    &-6 {
      background-image: url("../images/kopy/item-6.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 320px;
      transition: transform 0.2s;
    }

    &-7 {
      background-image: url("../images/kopy/item-7.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 320px;
      transition: transform 0.2s;
    }

    &-8 {
      background-image: url("../images/kopy/item-8.jpg");
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 320px;
      transition: transform 0.2s;
    }
  }

  .search-box {
    color: #FFF;
    padding: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span.caption {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }
  }
}


@media only screen and (max-width: 768px) {

  .items {
    .item {
      width: 100%;
    }
  }

}

.item:hover {
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7 {
    transform: scale(1.03);
  }
  &:first-child {
    transform: scale(1.03);
  }

  * {
    transform: scale(1.03);
  }
}

.images-3 {
  display: flex;
  flex-direction: row;

  .image {
    flex: 1;
    border: 0px solid #7a6860;
    height: 300px;
    cursor: pointer;

    &:hover{
      opacity: .75;
    }

    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

#arrow-down {
  -webkit-transition: margin-top 2s; /* Safari prior 6.1 */
  transition: margin-top 2s;
  z-index: 20;
  transition-timing-function: ease;
}