section#supplier, section#app, section#charged-boxes, section#installations, section#solceller,
section#foretag, section#utvalda-projeckt, section#lantbruk {
  margin-top: 40px;
}

section#om-oss {
  margin-bottom: 40px;
}

section {
  margin-top: 40px;
  overflow: hidden;
}

section .box {
  overflow: hidden;
}
